<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <!--定义一个server-->
    <bean name="server1" class="java.net.InetSocketAddress">
        <constructor-arg>
            <value>192.168.99.100</value>
        </constructor-arg>
        <constructor-arg>
            <value>32771</value>
        </constructor-arg>
    </bean>

    <!--定义XMemcachedClientBuilder实例，第一个参数设置server，第二个参数设置权重-->
    <bean id="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
        <constructor-arg>
            <list>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>192.168.99.100</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>32771</value>
                    </constructor-arg>
                </bean>
               <!-- <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>192.168.99.100</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>11212</value>
                    </constructor-arg>
                </bean>-->
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <value>1</value>
                <value>2</value>
            </list>
        </constructor-arg>

        <!--&lt;!&ndash;设置验证信息&ndash;&gt;-->
        <!--<property name="authInfoMap">-->
        <!--<map>-->
        <!--<entry key-ref="server1">-->
        <!--<bean class="net.rubyeye.xmemcached.auth.AuthInfo" factory-method="typical">-->
        <!--<constructor-arg index="0"><value>index</value></constructor-arg>-->
        <!--<constructor-arg index="1"><value>index-pd</value></constructor-arg>-->
        <!--</bean>-->
        <!--</entry>-->
        <!--</map>-->
        <!--</property>-->

        <!--设置线程池-->
        <property name="connectionPoolSize" value="2"></property>

        <!--使用二进制协议 默认是 TextCommandFactory-->
        <property name="commandFactory">
            <bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory"></bean>
        </property>

        <!--设置序列化方式-->
        <property name="transcoder">
            <bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder"></bean>
        </property>

        <!--设置一致性哈希-->
        <!--分布式策略 一致性hash，默认是  ArrayMemcachedSessionLocator -->
        <property name="sessionLocator">
            <bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"></bean>
        </property>
        <!--字节缓冲器，不知道为啥这玩意儿过时了，源码默认采用的这个！！ -->
        <!--<property name="bufferAllocator" value="net.rubyeye.xmemcached.buffer.SimpleBufferAllocator"/>-->
    </bean>

    <!--定义memcachedClient，通过memcachedClientBuilder的build方法-->
    <bean name="memcachedClient" factory-bean="memcachedClientBuilder"
          factory-method="build" destroy-method="shutdown">
    </bean>
</beans>